.active {
  font-weight: bold;
  color: #ff7b00;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  height: 3rem; /* Define altura fixa */
  position: fixed; /* Fixa o header no topo da janela */
  top: 0; /* Garante que o header fique no topo */
  left: 0; /* Alinhado à esquerda */
  width: 100%; /* Ocupa toda a largura */
  z-index: 1000; /* Garante que fique acima de outros elementos */

  font-weight: bolder;

  .logo {

    margin-left: 2rem;

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .nav {
    .nav-list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0 1rem;

      .nav-item {
        margin-left: 3rem;

        .nav-link {
          color: var(--white);
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s;

          &:hover {
            color: var(--primary-hover);
          }
        }
      }
    }
  }
}