:root {
    --black: #000000;
    --white: #FFFFFF;

    --light-gray: #D3D3D3;
    --medium-gray: #808080;
    --dark-gray: #404040;

    --primary-color: #4682B4; 
    --secondary-color: #ADD8E6; 
    --accent-color: #1E3A8A; 

    --primary-hover: #5A9BD5;
    --secondary-hover: #BFE2F1; 
    --accent-hover: #2B4F9E; 
  }