:root {
    --black: #000000;
    --white: #FFFFFF;

    --light-gray: #D3D3D3;
    --medium-gray: #3C3C3C;
    --dark-gray: #101010;

    --primary-color: #4682B4; 
    --secondary-color: #ADD8E6; 
    --accent-color: #1E3A8A; 

    --primary-hover: #30b642;       
    --secondary-hover: #66c97d;   
    --accent-hover: #45a69f;   

    --logo: #30b642;
  }