<app-header />
<main>
    <app-carousel [images]="carouselImages" />

    <section class="intro">
        <h1 class="intro-title title">Pedrinho Pedigree</h1>
        <div class="intro-content">
            <p>
                Olá! Sou Pedro Lopes, mais conhecido como Pedigree. Resido em São José dos Campos - SP e sou um atleta
                profissional de patins street.
                Minha jornada neste esporte é longa e cheia de histórias incríveis.
                <a routerLink="/about" class="intro-link">Saiba mais sobre a minha trajetória aqui!</a>.
            </p>
        </div>
    </section>


    <section class="class">
        <h1 class="class-title title">Aulas</h1>
        <div class="class-content">
            <p>
                Seja você um iniciante curioso ou um patinador experiente buscando aperfeiçoar suas habilidades, minhas
                aulas de patins são feitas para todas as idades e níveis de experiência. Juntos, vamos explorar a
                liberdade, o equilíbrio e a diversão que só o patins pode proporcionar!
                <a routerLink="/classes" class="intro-link">Saiba mais sobre nossas aulas aqui</a>.
                e descubra como começar a deslizar com confiança e segurança.
            </p>
        </div>
        <div class="testimony">
            <h2 class="testimony-title title">Depoimentos</h2>
            <div class="testimony-list">
                <article class="testimony-item">
                    <p class="testimony-text">"O professor Pedro me ajudou a superar o medo de patinar. Hoje, me sinto
                        confiante e mais feliz!"</p>
                    <span class="testimony-author">– Ana Clara</span>
                </article>
                <article class="testimony-item">
                    <p class="testimony-text">"Aprender patins com o Pedigree foi incrível! Ele tem uma paciência e
                        energia únicas."</p>
                    <span class="testimony-author">– Lucas Mendes</span>
                </article>
            </div>
        </div>
    </section>

    <section class="intro">
        <h1 class="intro-title title">Patrocínio / Apoio</h1>
        <div class="intro-content">
            <p>
                Caso queira saber mais detalhes sobre as vantagens e como me patrocinar/apoiar, <a
                    routerLink="/sponsorship" class="intro-link">clique aqui</a>.
            </p>
        </div>
    </section>
</main>
<app-footer />