<app-header />
<main>

    <section class="intro">
        <h1 class="intro-title">Pedrinho Pedigree</h1>
        <div class="intro-content">
            <p>
                Olá! Sou Pedro Lopes, mais conhecido como Pedigree. Resido em São José dos Campos - SP e sou um atleta
                profissional de patins street.
                Minha jornada neste esporte é longa e cheia de histórias incríveis. Se quiser saber mais sobre a minha
                trajetória,
                <a routerLink="/about" class="intro-link">clique aqui</a>.
            </p>
        </div>
    </section>

    <h1>----------------FOTOS----------------</h1>

    <section class="intro">
        <h1 class="intro-title">Aulas</h1>
        <div class="intro-content">
            <p>
                Atualmente dou aulas de patins para todas as idades. Para saber mais,
                <a routerLink="/classes" class="intro-link">clique aqui</a>.
            </p>
        </div>
        <div class="testimony">
            <h2 class="testimony-title">Depoimentos</h2>
            <div class="testimony-list">
                <article class="testimony-item">
                    <p class="testimony-text">"O professor Pedro me ajudou a superar o medo de patinar. Hoje, me sinto
                        confiante e mais feliz!"</p>
                    <span class="testimony-author">– Ana Clara</span>
                </article>
                <article class="testimony-item">
                    <p class="testimony-text">"Aprender patins com o Pedigree foi incrível! Ele tem uma paciência e
                        energia únicas."</p>
                    <span class="testimony-author">– Lucas Mendes</span>
                </article>
            </div>
        </div>
    </section>

    <section class="intro">
        <h1 class="intro-title">Patrocínio / Apoio</h1>
        <div class="intro-content">
            <p>
                Caso queira saber mais detalhes sobre as vantagens e como me patrocinar/apoiar, <a routerLink="/sponsorship"
                    class="intro-link">clique aqui</a>.
            </p>
        </div>
    </section>
</main>
<app-footer />