<app-header />
<main class="sponsorship">
    <h1 class="title">Apoie o Esporte: Seja Meu Parceiro!</h1>
    <section class="sponsorship-content">
        <p>Investir no esporte é investir no futuro. Sou <strong>Pedro Pedigree</strong>, atleta apaixonado pelo patins
            e educador esportivo, e estou em busca de <strong>parceiros</strong> para levar adiante projetos que
            impactam vidas. Seja com patrocínios financeiros ou contribuições em materiais e serviços, você pode fazer
            parte dessa jornada.</p>
    </section>

    <section class="sponsorship-content">
        <h2 class="title">Patrocinadores: Apoio Financeiro e Benefícios Fiscais</h2>
        <p>A <strong>Lei de Incentivo ao Esporte</strong> permite que empresas e pessoas físicas destinem parte de seus
            impostos para apoiar diretamente projetos esportivos. Com seu patrocínio, você não só ajuda a fortalecer o
            esporte, mas também amplia a visibilidade da sua marca e ainda ganha benefícios fiscais.</p>
        <ul>
            <li><strong>Dedução Fiscal:</strong> Invista com abatimento no Imposto de Renda.</li>
            <li><strong>Visibilidade:</strong> Sua marca será divulgada nas minhas redes sociais, entrevistas e
                materiais promocionais, além de eventos e competições.</li>
            <li><strong>Impacto Social:</strong> Associe-se a um projeto que transforma vidas através do esporte.</li>
        </ul>
    </section>

    <section class="sponsorship-content">
        <h2 class="title">Apoiadores: Contribuições em Materiais e Serviços</h2>
        <p>Nem todo apoio precisa ser financeiro. Contribuições com equipamentos, roupas, serviços gráficos, transporte
            e outros itens essenciais são fundamentais para manter o meu trabalho no esporte ativo e em crescimento.</p>
        <h3>Como Você Pode Ajudar:</h3>
        <ul>
            <li><strong>Materiais Esportivos:</strong> Patins, equipamentos de segurança, roupas para treino e
                competição.</li>
            <li><strong>Serviços Profissionais:</strong> Design gráfico, fotografia, transporte, manutenção de
                equipamentos.</li>
            <li><strong>Espaços e Eventos:</strong> Fornecimento de locais para treinos e competições ou apoio
                logístico.</li>
        </ul>
    </section>

    <section class="sponsorship-content">
        <h2 class="title">Valorização dos Parceiros</h2>
        <p>Eu valorizo cada um dos meus parceiros e faço questão de promover suas marcas com muita dedicação. Como
            patrocinador ou apoiador, você terá:</p>
        <ul>
            <li><strong>Destaque nas Redes Sociais:</strong> Postagens e conteúdos que mostram seu apoio ao esporte.
            </li>
            <li><strong>Citação em Entrevistas e Eventos:</strong> Seu nome associado ao meu trabalho nas mídias.</li>
            <li><strong>Presença em Materiais Promocionais:</strong> Logo em banners, uniformes e outros materiais de
                divulgação.</li>
        </ul>
    </section>

    <section class="sponsorship-content">
        <h2 class="title">Por que Apoiar Meu Trabalho?</h2>
        <p>Eu acredito no poder transformador do esporte. Desde ensinar patins para todas as idades até competir e
            representar essa modalidade incrível, minha missão é inspirar uma comunidade inteira. Com o seu apoio,
            podemos:</p>
        <ul>
            <li><strong>Incluir mais pessoas no esporte.</strong></li>
            <li><strong>Ampliar a visibilidade do patins no Brasil.</strong></li>
            <li><strong>Fomentar uma modalidade que transforma vidas.</strong></li>
        </ul>
    </section>

    <section class="sponsorship-content">
        <h2 class="title">Entre em Contato</h2>
        <p><a target="_blank" class="link" href="https://api.whatsapp.com/message/6Q5TGEDC2DUGN1">Entre em contato</a> e
            vamos conversar sobre como você pode fazer parte dessa história. Juntos, podemos ir mais longe!</p>
    </section>
</main>
<app-footer />