.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        min-width: 100%;

        img {
            display: block;
            object-fit: cover;
            max-width: 100%;
            height: auto;
        }
    }

    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 4rem;
        z-index: 10;

        &.prev {
            left: 10px;

            &:hover {
                background: rgba(0, 0, 0, 1);
            }
        }

        &.next {
            right: 10px;

            &:hover {
                background: rgba(0, 0, 0, 1);
            }
        }
    }

    .dots-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-height: 30px;

        .dot {
            font-size: 60px;
            color: var(--light-gray);
            height: 100%;
            cursor: pointer;

            &:hover {
                color: var(--primary-hover);
                font-size: 80px;
            }

            &.active {
                color: var(--white);
                font-size: 80px;
            }
        }
    }
}