<app-header />

<main class="about-me">
  <div>
    <h1>SOBRE O ATLETA</h1>
    <section class="bio">
      <p>Brasileiro, Natural de Guaratinguetá, e moro em São José dos Campos desde 2019.</p>
      <p>Conheci o patins em 1997, época onde o patins estava no auge!</p>
      <p>Hoje tenho 35 anos e patino aproximadamente 27 anos....</p>
      <p>Vivenciei muitos momentos incríveis desse esporte!</p>
      <p>Ganhei campeonatos, me superei em algumas manobras, fui apoiado por diversos amigos e por marcas que até hoje
        sou
        grato por todas essas experiências.</p>
      <p>Inspirando pessoas e sendo inspirado por muitos.</p>
      <p>Hoje me dedico muito para fomentar a modalidade, pois acredito que o esporte salva vidas e assim entrego para o
        esporte toda alegria e energia que o patins trouxe para minha vida.</p>
      <p>Estou treinando, me fortalecendo para as competições, e buscando expressar minha arte com movimentos radicais
        sobre as rodas.</p>
    </section>
  </div>
  <div>
    <h1>CAMPEONATOS</h1>
    <section class="bio">
      <ul>
        <li>4º Lugar - <strong>Circuito Fabíola da Silva (Brasileiro)</strong> - 2004 - São Paulo</li>
        <li>2º Lugar - <strong>Circuito NESCAL-RADICAL (Brasileiro)</strong> - 2004 - São Paulo/SP</li>
        <li>3º Lugar - <strong>VERT IN ROÇA BEST TRICK</strong> - 2007 - Guaratinguetá</li>
        <li>1º Lugar - <strong>CILS (Brasileiro)</strong> - 2008 - Taubate/SP</li>
        <li>2º Lugar - <strong>WRS RANKING (Brasileiro)</strong> - 2008 - Taubaté</li>
        <li>1º Lugar - <strong>CILS-Virada Cultural</strong> - 2009 - São Paulo</li>
        <li>2º Lugar - <strong>CILS.WRS (Brasileiro)</strong> - 2010 - São Bernardo do Campo</li>
        <li>1º Lugar - <strong>WRS (Brasileiro)</strong> - 2011 - São José dos Campos</li>
        <li>1º Lugar - <strong>PSP (Brasileiro)</strong> - 13.14/AGOS.2011 - Peruibe/SP</li>
        <li>2º Lugar - <strong>CBER (Brasileiro)</strong> - maio 2012 - São Paulo</li>
        <li>3º Lugar - <strong>METE A MALA CONTEST 2</strong> - 2012 - Barueri</li>
        <li>1º Lugar - <strong>PSP (Brasileiro)</strong> - 17/março.2013 - Peruibe/SP</li>
        <li>1º Lugar - <strong>PSP (Brasileiro)</strong> - 07.08/set.2013 - Peruibe/SP</li>
        <li>2º Lugar - <strong>Circuito Catarinense de Aggressive In Line OUT/2013</strong> - Jaraguá do Sul</li>
        <li>1º BEST TRICK - <strong>Circuito Catarinense de Aggressive In Line OUT/2013</strong> - Jaraguá do Sul</li>
        <li>1º Lugar - <strong>INSANO SKATER BEST TRICK</strong> - 10.nov/2013 - Monte Mor</li>
        <li>3º Lugar - <strong>PSP (Brasileiro)</strong> - 19.20/JUL.2014 - Peruibe/SP</li>
        <li>1º Lugar - <strong>IPASTREET</strong> - 2014 - Ipatinga</li>
        <li>6º Lugar - <strong>Brasileiro</strong> - 05/2024 - Florianópolis</li>
        <li>1º Lugar - <strong>Ação Juventude</strong> - 11 fevereiro - São José dos Campos</li>
        <li>3º Lugar - <strong>CILS</strong> - São Bernardo do Campo</li>
      </ul>

      <h2>SUPER - RIVAL | SJC</h2>
      <ul>
        <li>1º Lugar - <strong>SUPER RIVAL</strong> - 2010</li>
        <li>2º Lugar - <strong>SUPER RIVAL</strong> - 2011</li>
        <li>1º Lugar - <strong>SUPER RIVAL</strong> - 2012</li>
        <li>1º BEST TRICK - <strong>SUPER RIVAL</strong> - 2013</li>
        <li>1º Lugar - <strong>SUPER RIVAL</strong> - 2013</li>
        <li>1º Lugar - <strong>SUPER RIVAL</strong> - 2014</li>
        <li>3º Lugar - <strong>SUPER RIVAL</strong> - 2024</li>
      </ul>

      <h2>Competições Fora do País</h2>
      <ul>
        <li>1º Lugar - <strong>R.A.I.P (SURCO-PERU) Sul-Americano</strong> - março 2013</li>
      </ul>
    </section>
  </div>
</main>

<app-footer />