<footer class="footer">
    <div class="footer-content">
        <div class="social-links">
            <a href="https://www.instagram.com/pedrinho.pedigree/" target="_blank" class="social-icon">
                <img src="./../../../assets/icons/instagram.png" width="40px" height="40px" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100063951780126" target="_blank" class="social-icon">
                <img src="./../../../assets/icons/facebook.png" width="40px" height="40px" alt="Facebook">
            </a>
            <a href="https://www.youtube.com/channel/UC8L66cQdL6ePhByNQpLbfYA" target="_blank" class="social-icon">
                <img src="./../../../assets/icons/youtube.png" width="40px" height="40px" alt="Youtube">
            </a>
            <a href="https://api.whatsapp.com/message/6Q5TGEDC2DUGN1" target="_blank" class="social-icon">
                <img src="./../../../assets/icons/whatsapp.png" width="40px" height="40px" alt="Whatsapp">
            </a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Pedro L. Pisani (Pedigree). Todos os direitos reservados.</p>
    </div>
</footer>