.footer {
    background-color: var(--black);
    color: #fff;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;

    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .social-links {
            display: flex;
            gap: 1.5rem;
            align-items: center;

            .social-icon {
                color: var(--white);
                text-decoration: none;
                font-size: 1rem;
                transition: color 0.3s;

                &:hover {
                    color: var(--primary-hover);
                }
            }
        }

        .contact-info {
            gap: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .footer-bottom {
        border-top: 1px solid #444;
        font-size: 0.9rem;
    }
}