.footer {
    background-color: var(--black);
    color: #fff;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 15vh; 

    .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0.5rem 0;

        .social-links {
            display: flex;
            gap: 1.5rem;
            align-items: center;
        }

        .contact-info {
            gap: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .footer-bottom {
        border-top: 1px solid #444;
        font-size: 0.9rem;
    }
}